.vscode
.idea
/build
*.userdb
user.yaml
__pycache__
*.gram
.temp
dicts/out
dicts/wubi86_zj.dict.yaml
dicts/wubi86_ext.dict.yaml
dicts/tiger_zj.dict.yaml
dicts/tiger_ext.dict.yaml
dicts/pinyin.dict.yaml
*_dicts